/* General */

body{
  background: #9ccbf1;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  color: black;
  margin: 0px ;
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}
ul{
  list-style-type:none;
}
ul.loginlist li{
  width:300px;
  margin-bottom:30px;
}

ul.loginlist li input{
  width: 300px;
  padding: 10px;
  border:none;
  border-radius:5px;
}


header{
  background:white;
  padding: 20px;
  
}

section{
  background: #9ccbf1;
  padding: 15px;
  display:flex;
  flex-direction: row;
}
section div{
  background: white;
  margin:auto;
  padding: 5px;
}
/* header */
header h1{
  background-color: white;
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999999px;
  padding: 10px;
  background-image: url(https://cdn.glitch.com/b958e8ba-2afd-4f0f-ab13-5aceced08425%2FLogo.PNG?v=1586652352909);  
}

/* content */
h1 {
  background: #9ccbf1;
  color: black;
}

/* in/pages specific formatting starts here */
h2.username{
  background-color:#00008b;
  padding:20px;
  color:white;
  margin-top:0px;
  font-family: Georgia, serif;
  font-size: 53px;
  padding-left:60px;
  text-align: left;
}
h3{
  color:black;
  font-size:30px;
  font-weight:normal;
  margin-top:0px;
  
}
h4{
  color:black;
  font-size:24px;
}

h5{
  color:black;
  font-size:22px;
  font-weight:normal;
  margin-top:0px;
  margin-left:-40px;
  margin-right:200px;
  margin-bottom: 0px;
}
h6{
  color:black;
  font-size:16px;
  font-weight:normal;
  margin-top:0px;
  width:1100px;
}
nav ul{
  color:black;
  list-style-type:none;
  font-size: 24px;
  margin-left:-30px;
  
}
nav ul li{
  margin-bottom:50px;
}
ul li.overarching{
  float:left;
  display:inline;
}

.line{
  border-left: 5px solid #00008b; 
  height: 200px; 
  background-color:#9ccbf1;
  height: 500px;
  margin-left: 60px;
  position:absolute;
  top:300px;
  
}

.content{
  margin-left:100px;
  width:70%;
}

.form{
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  padding-right: 260px;
  margin-right:0px;
}
textarea{
  resize: none;
  width: 850px;
  margin-top:0px;
  margin-bottom:30px;
}

.submit{
    border-radius:5px;
    background-color:white;
    border: 2px solid black;
    color:black;
    width:320px;
    height:50px;
    font-size:18px;
    transition-duration: 0.4s;
    cursor: pointer;
          
}
.submit:hover{
  background-color: #00008b;
  color: white;
}
ul.dateTime{
  display:inline;
}
ul.dateTime li{
  display:inline-block;
  margin:0px;
  border:none;
}

.grid{
  display:inline-block;
  padding-top:50px;
  padding-bottom:50px;
  background:white;
  margin-left:0px;
  margin-right:50px;
  border-radius:5px;
  border: none;
  color:black;
  width:420px;
  height:70px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration:none;
  text-align:center;
}

.grid:hover{
  background-color: #00008b;
  color: white;
}




/* info

spacing:
-margin: how far the div is away from everything else
-padding: same as margin but fills the padding

can speicfy pixels with 1,2, or 4 values
display:flex is flexbox layout


-psudo classes shown with li:firstchild
last child also works, to specify a specific part of the list
useful for solving margin-left problems for the first one on
the list

a:active if that page is active, USE FOR DESIGN IN /IN/
a:hover, if you're hovering, underline
as pseudo classes, active and hover apply to anything
*/