<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GetBetter</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <!-- import the webpage's javascript file -->
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    
    <style>
      .movement{
        margin-left:100px;
        margin-top:0px;
      }
      #larger{
        font-size:25px;
        background:white;
        padding:20px;
        padding-right:-50px;
        border-radius:10px;
        margin-left:-20px;
        text-align:left;
      }
    </style>
  </head>
  
  <!-- actual website begins here-->
  <body>
    
    <!-- layout -->
    <header>
        <h1>GetBetter</h1>
    </header>
    
    <h2 class="username">Username</h2>      
    
     <ul>
      <li class="overarching">
        <nav>
          <ul>
            <li><a href="/Journals.html">Journals</a></li>
            <li><a href="/Predictions.html">Predictions</a></li>
            <li><a href="/Information.html">Information</a></li>
            <li><a href="/About-Us.html">About Us</a></li>
          </ul>
        </nav>
      </li>
      <li class="overarching">
        <div class="line"></div>
      </li>
      <li class="overarching">
        <ul class= "movement">
            <li><h3>About Us</h3></li>
            <li id="larger">
                We hope to use artificial intelligence, along with research on mood fluctuations and <br>
                disorders to help you understand your unique mental health profile. Understanding <br>
                why you feel a certain way is the first step to getting better. <br>
                Also, professionals say that journaling can reduce stress, improve your immune <br>
                system, better your memory, and improve your mood!
            </li>
          </ul>
      </li>
    </ul>

    
  </body>
  
</html>

<!-- div tags - somantic tags:

header, nav, section, footer 

these are used a lot:
ul = unordered list
li = list

-->
