<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GetBetter</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    
  </head>
  
  <!-- actual website begins here-->
  <body>
    
    <!-- layout -->
    <header>
        <h1>GetBetter</h1>
    </header>
    
    <h2 class="username">Username</h2>
  
      <ul>
        <li class="overarching">
          <nav>
            <ul>
              <li><a href="Journals.html">Journals</a></li>
              <li><a href="Predictions.html">Predictions</a></li>
              <li><a href="Information.html">Information</a></li>
              <li><a href="About-Us.html">About Us</a></li>
            </ul>
          </nav>
        </li>
        <li class="overarching">
          <div class="line"></div>
        </li>
        <li class="overarching">
          <ul class= "content">
            <li><h3>What do the patterns mean?</h3></li>
            <li>
              <ul>
                <h3>
                  <li class="grid"><a href="https://www.nimh.nih.gov/health/topics/depression/index.shtml">Depression</a></li>
                  <li class="grid"><a href="https://www.nimh.nih.gov/health/topics/anxiety-disorders/index.shtml">Anxiety</a></li>
                </h3>
              </ul>
              <ul>
                <h3>
                  <li class="grid"><a href="https://www.bridgestorecovery.com/nervous-breakdown/treat-nervous-breakdown/">Breakdowns</a></li>
                  <li class="grid">Get Help</li>
                </h3>
                
              </ul>
            </li>
            </ul>
        </li>
      </ul>

    
    
  </body>
</html>

<!-- div tags - somantic tags:

header, nav, section, footer 

these are used a lot:
ul = unordered list
li = list

-->
